# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
/bin/
/coverage/
